[submodule "faqAI-back"]
	path = faqAI-back
	url = https://github.com/MrBrrown/faqAI-back.git
	branch = main
[submodule "faqAI-bot"]
	path = faqAI-bot
	url = https://github.com/MrBrrown/faqAI-bot.git
	branch = main
[submodule "ai-chat"]
	path = ai-chat
	url = https://github.com/mikhailmogilnikov/ai-chat.git
	branch = master